<!DOCTYPE html>
<html>
<head>
    <title>Mouse Tracker</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_styles.css') }}">


</head>
<body>
    <h1>Mouse Tracker</h1>
     <div id="loader"></div>
    <div id="mouse-info"></div>
    <img class="base-image" id="webcam-image" src="/images/base-image.jpg" alt="Webcam Image">


    <script>
        $(document).ready(function() {
            let socket = io();

            socket.on('connect', function() {
                console.log('Connected to server');
            });

            socket.on('mouse_position', function(data) {
                $('#mouse-info').text('X: ' + data.x + ' Y: ' + data.y);
            });

            $(document).mousemove(function(event) {
                let x = event.clientX;
                let y = event.clientY;
                socket.emit('movemouse', {x: x, y: y});
            });

            document.addEventListener("click", function(event) {
                let x = event.clientX;
                let y = event.clientY;
                socket.emit('click', {x: x, y: y});
                socket.emit('take_picture', {});  // Emitir el evento 'take_picture'
                // Mostrar el loader cuando se hace clic en la página
                $('#loader').show()

            });

            socket.on('picture', function(data) {
                // $('#webcam-image').attr('src', 'data:image/jpeg;base64,' + data.image);
                // $('#webcam-image').attr('src', data.url);
                  let image = $('#webcam-image')

                image.attr('src', data.url);
                console.log(image.attr.src)

                if (image.attr.src !== "/images/base-image.jpg") {
                     image.addClass('take-picture');
                }
            $('#loader').hide(); // Ocultar el loader

                // Send the base64 image back to the server to save it as a file
                // socket.emit('save_image', {image: data.image});

            });

        });
    </script>
</body>
</html>
